/* Imports */

@import url('https://cdn.jsdelivr.net/gh/Rph-nsmb/lg@36892a3/refs/heads/main/assets/stylesheets/main.css');
@import url('https://cdn.jsdelivr.net/gh/Rph-nsmb/lg@36892a3/refs/heads/main/assets/stylesheets/navbar.css');


/* Fonts */

@font-face {
     font-family: Cantarell-R;
     src:
		url('https://github.com/Rph-nsmb/lg/raw/refs/heads/main/assets/fonts/Cantarell/Cantarell-Regular.ttf')
		format('truetype');
     font-weight: normal;
     font-style: normal;
}


@font-face {
     font-family: Cantarell-B;
     src:
		url('https://github.com/Rph-nsmb/lg/raw/refs/heads/main/assets/fonts/Cantarell/Cantarell-Bold.ttf')
		format('truetype');
     font-weight: normal;
     font-style: normal;
}


@font-face {
     font-family: Cantarell-I;
     src:
		url('https://github.com/Rph-nsmb/lg/raw/refs/heads/main/assets/fonts/Cantarell/Cantarell-Italic.ttf')
		format('truetype');
     font-weight: normal;
     font-style: normal;
}


@font-face {
     font-family: Cantarell-BI;
     src:
		url('https://github.com/Rph-nsmb/lg/raw/refs/heads/main/assets/fonts/Cantarell/Cantarell-BoldItalic.ttf')
		format('truetype');
     font-weight: normal;
     font-style: normal;
}


/* Main styles */

:root {
  --main-font: Cantarell-R;
  --main-bold: Cantarell-B;
  --main-italic: Cantarell-I;
  --main-bolditalic: Cantarell-BI;



  --button-border-radius: 12px;
  --button-border-width: 2px;



  --yellow: #ffef00;
  --white: #fff;
  --black: #000;
  
  --red: #930000a2;
  --dark-red: #750000;
  --darker-red: #680000a2;
  --darkest-red: #100000;

  --text-color: var(--white);
  
  --button-color: var(--yellow);  

}




body {

  background: linear-gradient(135deg, var(--dark-red), var(--darkest-red)) no-repeat center fixed;
}

html, body {
    margin: 0;
    padding: 0;
}


